@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  font-family: 'Didact Gothic', sans-serif;
}

#autoPlayBackground {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  width: 35%;
  margin: 8px 0px 8px 15px; 
}

#autoPlayText {
  display: inline-block;
  position: relative;
  float: left;
  font-family: 'Gabriela', serif;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 50px 0px 15px;
}

p {
  margin: 10px 0px 4px 0px;
  font-family: 'Gabriela', serif;
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  background: #fff;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
  margin: 0px 5px 10px 5px;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-left: 20px;
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.video-list {
  background: #fff;
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-right: 20px;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 20px;
}

.video-list-entry-title {
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
  word-wrap: break-word;
  word-break: break-word;
}

#videoPlayerDescription {
  font-size: 18px;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

h4 {
  font-weight: bold;
}

h5 {
  border: 2px solid rgba(64, 201, 255, 0.5);
  border-radius: 15px;
  background-color: rgba(64, 201, 255, 0.2);
  text-align: center;
  margin: 0 auto;
}

.col-md-7 {
  margin: 0 auto;
  padding: 0px -10px 10px 10px;
}

.col-md-5 {
  margin: 0 auto;
  padding: 20px 100px 100px 100px;
}

#videoPlayerBackground {
  padding: 0px 20px 20px 0px;
  margin-left: 25px;
}

#videoListBackground {
  padding: 0px 0px 20px 20px;
  margin-top: -18px;
}

@media (max-width: 767px) {
  .video-list {
    margin-left: 20px;
  }

  .video-player {
    margin-right: 20px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 38px;
  right: -38px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}